################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/ExCellCounter/.vs
/ExCellCounter/bin/Debug
/ExCellCounter/obj
/ExCellCounter.Presentation/bin/Debug
/ExCellCounter.Presentation/obj
/ExCellCounter.Presentation.Core/bin/Debug
/ExCellCounter.Presentation.Core/obj
/ExCellCounter.Shared/bin/Debug
/ExCellCounter.Shared/obj
/ExCellCounter.Services/obj
/ExCellCounter.Services.Core/obj
